body {
    margin: 0;
}

.header {
    min-width: 800px;
}

.header>.control {
    height: 44px;
    background-image: url(http://photo.danna.com.tw/2015web/top_color_01.jpg);
}

.header>.control>.inbox {
    max-width: 1225px;
    margin: 0 auto;
    height: 44px;
}

.header>.control>.inbox>a {
    font-size: 0;
    display: block;
    height: 44px;
    float: left;
}

.header>.control>.inbox>.joinus {
    width: 85px;
    background-image: url(http://photo.danna.com.tw/2015web/top_login_e_02.png);
}

.header>.control>.inbox>.joinus:hover {
    background-image: url(http://photo.danna.com.tw/2015web/top_login_c_02.png);
}

.header>.control>.inbox>.login {
    width: 85px;
    background-image: url(http://photo.danna.com.tw/2015web/top_login_e_03.png);
}

.header>.control>.inbox>.login:hover {
    background-image: url(http://photo.danna.com.tw/2015web/top_login_c_03.png);
}

.header>.control>.inbox>.mypage {
    width: 99px;
    background-image: url(http://photo.danna.com.tw/2015web/top_login_e_04.png);
}

.header>.control>.inbox>.mypage:hover {
    background-image: url(http://photo.danna.com.tw/2015web/top_login_c_04.png);
}

.header>.control>.inbox>.cart {
    width: 108px;
    background-image: url(http://photo.danna.com.tw/2015web/top_login_e_05.png);
    text-decoration: none;
}

.header>.control>.inbox>.cart>.cartbox {
    height: 300px;
    width: 200px;
    background-color: pink;
    display: none;
    position: relative;
    z-index: 9;
}

.header>.control>.inbox>.cart:hover {
    background-image: url(http://photo.danna.com.tw/2015web/top_login_c_05.png);
}

.header>.control>.inbox>.cart:hover>.cartbox {
    display: block;
}

.header>.control>.inbox>.cart>span {
    display: block;
    width: 25px;
    height: 18px;
    background-color: #9c896b;
    margin: 15px 0 11px 75px;
    font-size: 17px;
    color: white;
}

.header>.control>.inbox>.cart:hover>span {
    margin-left: 83px;
}

.header>.control>.inbox>.order {
    width: 100px;
    background-image: url(http://photo.danna.com.tw/2015web/top_login_e_06.png);
}

.header>.control>.inbox>.order:hover {
    background-image: url(http://photo.danna.com.tw/2015web/top_login_c_06.png);
}

.header>.main {
    height: 243px;
    background-image: url(http://photo.danna.com.tw/2015web/top_color_02.jpg);
    overflow: hidden;
}

.header>.main>.logo {
    width: 370px;
    height: 152px;
    background-image: url(http://photo.danna.com.tw/2015web/logo_pufii.png);
    display: block;
    margin: 46px auto 0 auto;
    font-size: 0;
}

.header>.main>.logo.danna {
    background-image: url(http://photo.danna.com.tw/2015web/logo_danna.png);
}

.header>.search {
    width: 100%;
    height: 40px;
    position: absolute;
    margin: -40px auto 0 auto;
}

.header>.search>.outbox {
    max-width: 1225px;
    margin: 0 auto;
    height: 40px;
}

.header>.search>.outbox>.inbox {
    width: 200px;
    height: 40px;
    float: right;
}

.header>.search>.outbox>.inbox>span {
    font-family: arial;
    font-size: 13px;
    margin-left: 9px;
    margin-top: 4px;
    display: block;
    letter-spacing: -0.01em;
    float: left;
}

#edtSearch {
    width: 122px;
    border: 0;
    background-color: transparent;
    margin-left: 7px;
    height: 18px;
    border-bottom: 1px solid;
}
