body {
    margin: 0;
    background-color: pink;
    height: 5000px;
}

.header {
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: fixed;
}

.header>.logo {
    background-color: #f4e0d5;
    background-image: url(../images/pufii-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 106px;
}

.header>.logo>a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0;
}

.header>.control {
    height: 68px;
}

.header>.control>.left {
    float: left;
}

.header>.control>.left>div {
    float: left;
}

.header>.control>.left>.menu {
    width: 57px;
    height: 57px;
    background-image: url(http://photo.danna.com.tw/2015mobile/001-01.png);
    margin: 6px 24px 0 20px;
    cursor: pointer;
}

.header>.control>.left>.brand {
    height: 68px;
}

.header>.control>.left>.brand>.welcome {
    margin-top: 8px;
}

.header>.control>.left>.brand>.text {
    margin-top: 11px;
}

.header>.control>.left>.brand>.text>span {
    float: left;
}

.header>.control>.left>.brand>.text>.pufii {
    width: 88px;
    height: 27px;
    background-image: url(http://photo.danna.com.tw/2015mobile/001-04.png);
    display: inline-block;
    font-size: 0;
    margin-top: -5px;
    cursor: pointer;
}

.header>.control>.left>.brand>.text>.danna {
    width: 105px;
    height: 27px;
    background-image: url(http://photo.danna.com.tw/2015mobile/001-05.png);
    display: inline-block;
    font-size: 0;
    margin-top: -5px;
    cursor: pointer;
}

.header>.control>.right {
    float: right;
}

.header>.control>.right>div {
    float: right;
}

.header>.control>.right>.cart {
    width: 55px;
    height: 55px;
    background-image: url(http://photo.danna.com.tw/2015mobile/001-03.png);
    margin-right: 22px;
    margin-top: 6px;
    cursor: pointer;
}

.header>.control>.right>.cart>span {
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    float: right;
    margin-right: -5px;
}

.header>.control>.right>.user {
    width: 55px;
    height: 55px;
    background-image: url(http://photo.danna.com.tw/2015mobile/001-02.png);
    margin-right: 20px;
    margin-top: 6px;
    cursor: pointer;
}

.menubox {
    display: none;
}

.menubox.open {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    display: block;
}

.menubox.open>.close {
    background-image: url(http://photo.danna.com.tw/2015mobile/001-15.png);
    width: 64px;
    height: 123px;
    position: fixed;
    left: 561px;
    top: 0px;
    cursor: pointer;
    margin-left: -561px;
    transition: margin-left .5s;
}

.menubox.open>.close.open {
    margin-left: 0px;
    transition: margin-left .5s;
}

.menubox.open>.slide {
    overflow: hidden;
    width: 561px;
    height: 100%;
    background-color: #e3e3e3;
    margin-left: -561px;
    transition: margin-left .5s;
    position: absolute;
}

.menubox.open>.slide.open {
    margin-left: 0px;
    transition: margin-left .5s;
}

.row {
    height: 49px;
    border-top: 1px solid #b4b4b4;
    padding-top: 6px;
    padding-bottom: 6px;
}

.row>span {
    font-size: 28px;
    display: list-item;
    list-style-position: inside;
    float: left;
    letter-spacing: 7px;
    font-family: arial, '微軟正黑體';
    font-weight: bold;
    height: 49px;
    line-height: 50px;
    margin-left: 31px;
    color: black;
}

.row>span.home {
    background-image: url(http://photo.danna.com.tw/2015mobile/001-16.png);
    float: right;
    list-style-type: none;
    display: block;
    width: 49px;
    height: 49px;
    margin-right: 36px;
}

.row>span.search {
    background-image: url(http://photo.danna.com.tw/2015mobile/001-17.png);
    float: right;
    list-style-type: none;
    display: block;
    width: 49px;
    height: 49px;
    margin-right: 36px;
}

.row>span.flag {
    float: right;
    list-style-type: none;
    display: block;
    width: 49px;
    height: 49px;
    margin-right: 19px;
}

.row>span.flag:after {
    content: '>';
    font-size: 31px;
}

.share {
    height: 150px;
    padding-left: 52px;
    margin-top: 20px;
}

.fb {
    width: 59px;
    height: 59px;
    background-image: url(http://photo.danna.com.tw/2015mobile/001-fb.png);
    float: left;
    margin-right: 50px;
}

.ig {
    width: 59px;
    height: 59px;
    background-image: url(http://photo.danna.com.tw/2015mobile/001-IG.png);
    float: left;
    margin-right: 50px;
}

.email {
    width: 59px;
    height: 59px;
    background-image: url(http://photo.danna.com.tw/2015mobile/001-MAIL.png);
    float: left;
}

.share>div>a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0;
}

.hide {
    display: none;
}

.searchbrand {
    width: 235px;
    height: 44px;
    background-color: black;
    color: white;
    border: 0;
    padding: 0;
    margin: 0;
    margin-left: 31px;
    margin-top: -6px;
    font-size: 30px;
    background-image: url(../images/flag.png);
    background-repeat: no-repeat;
    background-position: 216px center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.searchtext {
    margin-left: 284px;
    height: 39px;
    border: 2px solid;
    margin-top: -45px;
    display: block;
    width: 223px;
    font-size: 30px;
    padding: 1px 5px;
}
